@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Amaranth');
body, html
{
height:100%;
margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Source Sans Pro';
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
.content
{
  color: #777777;
  background-color: black;
  text-align: center;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;

}
.content h1
{
   text-align:center;
   font-family: 'Amaranth';
   font-size: 42px;
   color: #b3b3b3;
}
.content p
{
  font-family: 'PT Sans';
  color: #b3b3b3;
}
.content2
{
  position: relative;
  background-color: #0d1a26;
  text-align: center;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
.content2 h1
{
   text-align:center;
   font-family: 'Amaranth';
   font-size: 42px;
   color: #b3b3b3;
}
.content2 p
{
  font-family: 'PT Sans';
  color: #b3b3b3;
}
.content3
{
  position: relative;

  background-color: #cccccc;
  text-align: center;
  padding: 50px;

  padding-left: 100px;
  padding-right: 100px;

}
.content3 h1
{
   text-align:center;
   font-family: 'Amaranth';
   font-size: 42px;
   color: #000000;
}
.content3 p
{
  font-family: 'PT Sans';
  color: #000000;
}
.content3 a
{
  color: #0059b3;
    background-color: transparent;
    text-decoration: none;
    font-family: 'PT Sans';
    font-weight: bold;
}
/*social icons*/



ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}



.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
/*social icons*/
.content4
{
  position: relative;
  color: #000000;
  background-color: #0d1a26;
  text-align: center;
  padding: 1%;
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
.content4 h1
{
   text-align:center;
   font-family: 'Amaranth';
   font-size: 42px;
   color: #b3b3b3;
}
.content4 p
{
  font-family: 'PT Sans';
  color: #b3b3b3;
}
/* Skill bar*/
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #e6e6e6;
}

.skills {
  text-align: center;
  padding-right: 10px;
  line-height: 30px;
  color: white;
  font-family: 'PT Sans';
}

.html {width: 90%; background-color: #003366;}
.css {width: 90%; background-color: #003366;}
.js {width: 50%; background-color: #0080ff;}
.java {width: 70%; background-color: #004d99;}
.c {width: 70%; background-color: #004d99;}
.bs {width: 60%; background-color: #0066cc;}
.jq {width: 50%; background-color: #0080ff;}
.ap {width: 50%; background-color: #0080ff;}
.node {width: 40%; background-color: #3399ff;}
.andy {width: 40%; background-color: #3399ff;}
.bash {width: 20%; background-color: #66b3ff;}

p
{
  text-align: justify;
  font-size: 22px;
}
.pfooter
{
  font-size: 17px;
}

.face
{

  border-radius: 50%;
  max-width: 100%;
  height: auto;

}
.footer {

  padding-top: 1.5px;
  position:static;
  bottom:0;
  width:100%;
  height:50px;
  background:#333;
}

.profile
{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000000;
}
.profile span.border
{
  border: 3px;
  border-style: solid;
  border-color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Montserrat';
  color: #ffffff;
  padding: 18px;

  font-size: 55px;
  letter-spacing: 20px;
}

.temp
{
  background-image: url('img/temp.jpg');
  opacity: 0.9;
}
.temp2
{
  background-image: url('img/temp2.jpg');
  opacity: 0.8;
}
.temp3
{
  background-image: url('img/temp5.jpg');
  opacity: 0.8;
}
.temp4
{
  background-image: url('img/temp4.jpg');
  opacity: 0.9;
}
.temp, .temp2, .temp3, .temp4
{
    position: relative;
    min-height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1024px)
{
    .temp, .temp2 {
        background-attachment: scroll;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
